<mat-toolbar color="primary">
  <mat-toolbar-row class="container">
    <span><a href="#">iCrush</a></span>
    <mat-list role="list">
      <mat-list-item role="listitem">
        <a matLine href="#">Matches</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a matLine href="#">Lists</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a matLine href="#">Messages</a>
      </mat-list-item>
    </mat-list>
    
    <span class="example-spacer"></span>

    <button mat-button [matMenuTriggerFor]="menu" *ngIf="loggedIn()">Welcome {{ authService.decodedToken?.unique_name | titlecase}} </button>
    <mat-menu #menu="matMenu" class="mt-3">
      <button mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          <span>Edit Profile</span>
      </button>
      <button mat-menu-item (click)="logOut()">
        <mat-icon>power_settings_new</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>

    <form #loginForm="ngForm" (ngSubmit) = "login(loginForm)" *ngIf="!loggedIn()">
      <mat-form-field>
        <input matInput placeholder="Username"  required 
          [(ngModel)]="model.username" name="username">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password"  required 
          name="password" [type]="hide ? 'password' : 'text'" [(ngModel)]="model.password">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <button mat-flat-button type="submit" color="accent"
        [disabled]="!loginForm.valid">Login
      </button>
    </form>
  </mat-toolbar-row>
</mat-toolbar>