<head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<form [formGroup]="registerForm" (ngSubmit)="register(registerForm)">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr>
  <mat-radio-group formControlName="gender"> I am a &nbsp;
    <mat-radio-button class="mr-15" *ngFor="let g of gender" [value]="g">
      {{g}}&nbsp;
    </mat-radio-button>
  </mat-radio-group>

  <mat-form-field>
    <input matInput placeholder="Username" formControlName="username">
    <mat-error *ngIf="getErrorMessage('username')">{{err_msg[1]}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Known As" formControlName="knownAs">
    <mat-error *ngIf="getErrorMessage('knownAs')">{{err_msg[2]}}</mat-error>
  </mat-form-field>
  
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Pick your birthday" formControlName="dateOfBirth">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="getErrorMessage('dateOfBirth')">{{err_msg[3]}}</mat-error>
  </mat-form-field>

  <!-- <mat-form-field>
    <mat-select placeholder="Country">
      <mat-option *ngFor="let country of countries" [value]="country.name">
        {{country.name}}
      </mat-option>
    </mat-select>
  </mat-form-field> -->

  <mat-form-field>
    <input matInput placeholder="City" formControlName="city">
    <mat-error *ngIf="getErrorMessage('city')">{{err_msg[4]}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Country" formControlName="country">
    <mat-error *ngIf="getErrorMessage('country')">{{err_msg[5]}}</mat-error>
  </mat-form-field>

  <mat-form-field (click)="clickedPasswordField = true">
    <input matInput placeholder="Password" formControlName="password" 
    [type]="hide ? 'password' : 'text'" >
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>
    <mat-error *ngIf="getErrorMessage('password')">
        <div *ngFor="let msgs of err_msg[6].split('\n'); let i = index"  [ngStyle] ="{'color':err_msg_icon[i].icon_colr,'font-size':'0.8em'}">
            <mat-icon class="material-icons" [ngStyle]="{'font-size':'1.2em'}">{{err_msg_icon[i].icon}}</mat-icon>{{msgs}}
        </div>
    </mat-error>

  <mat-form-field>
    <input type="password" matInput placeholder="Confirm Password" formControlName="confirmPassword">
    <mat-error *ngIf="getErrorMessage('confirmPassword')">{{err_msg[7]}}</mat-error>
  </mat-form-field>

  <div class="form-group text-center">
      <button mat-flat-button type="submit" color="accent" class="mr-2" [disabled]="!registerForm.valid">
          Register
      </button>
      <button mat-flat-button type="button" color="warn" (click)="cancel()">
          Cancel
      </button>
  </div>
</form>
