@import '~@angular/material/theming';
@include mat-core();

$iCrush-theme-primary: mat-palette($mat-indigo);
$iCrush-theme-accent: mat-palette($mat-indigo, A200, A100, A400);

$iCrush-theme-warn:    mat-palette($mat-red);

$iCrush-app-theme: mat-light-theme($iCrush-theme-primary, $iCrush-theme-accent, $iCrush-theme-warn);

@include angular-material-theme($iCrush-app-theme);